{{#each this}}

<div class="movieCard">
  <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="No Image Available">
  <h3>{{original_title}}</h3>
  <p>{{release_date}}</p>
  <p>{{overview}}</p>
    {{#each credits}}

     {{!-- <p>{{castArray castName}}</p>--}}
    {{/each}}

</div>
{{/each}}
